.link-list {
	display: flex;
	flex-direction: column;
	gap: 14px;

	&__link,
	&__text {
		color: var(--color-text-muted);
		font-size: 14px;
		font-weight: 500;
		line-height: 1.35;
		transition: color var(--transition-base);
	}

	&__link {
		&:hover {
			color: var(--color-accent);
		}

		&--accent {
			color: var(--color-white);
			font-family: var(--font-accent);
			font-size: 20px;
			font-weight: 700;
		}
	}
}
