.nav {
	display: none;

	&__list {
		display: flex;
		align-items: center;
		gap: var(--space-lg);
	}

	&__link {
		display: flex;
		align-items: center;
		min-height: 32px;
		color: var(--color-white);
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.03em;
		transition: color var(--transition-base);

		&--featured {
			font-size: 16px;
		}

		&:hover {
			color: var(--color-accent);
		}
	}

	@media (min-width: 1140px) {
		display: block;
	}
}
