.grid-layout {
	display: grid;
	gap: var(--space-lg);

	&:has(.benefit-card) {
		display: flex;
		flex-wrap: wrap;
		column-gap: var(--space-lg);
		row-gap: var(--space-md);

		.benefit-card {
			flex: 1 1 100%;
		}
	}

	&:has(.product-card) {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-lg);

		.product-card {
			flex: 1 1 100%;
		}
	}

	&:has(.feature-card) {
		grid-template-columns: 1fr;
	}

	@media (min-width: 760px) {
		&:has(.feature-card) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		&:has(.product-card) .product-card {
			flex: 1 1 calc((100% - var(--space-lg)) / 2);
		}

		&:has(.benefit-card) .benefit-card {
			flex: 1 1 calc((100% - var(--space-lg)) / 2);
		}
	}

	@media (min-width: 1120px) {
		&:has(.benefit-card) .benefit-card {
			flex-basis: calc((100% - (var(--space-lg) * 2)) / 3);
		}

		&:has(.product-card) .product-card {
			flex-basis: calc((100% - (var(--space-lg) * 2)) / 3);
		}

		&:has(.feature-card) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
}
